    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
        <li class="nav-item ">
            <a routerLink="welcome" class="nav-link" class="btn btn-primary active" role="button" >Welcome</a>
          </li>&nbsp;  
        <li class="nav-item ">
            <a routerLink="view-inovoice" class="nav-link" class="btn btn-primary active" role="button" >View Inovoice</a>
          </li>&nbsp;        
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>
    
